<h1>第{{1}}关</h1>
<div id="dialogue">
有时候，你必须做她的镜子，必须有人诚实的提醒她的弱点，也同时提醒她有多好。不要企图改变，那些她已经习惯的习惯，因为那些小毛病，刚好是程又青之所以是「程又青」的原因
</div>
<div id="answer">
	<div>我的答案</div>
<ul>
<li>我</li>
<li>可</li>
<li>能</li>
<li>不</li>
<li>会</li>
<li>爱</li>
<li>你</li>
</ul>
</div>
<div id="choice">
	<div>备选答案</div>
<ul>
<li>我</li>
<li>反</li>
<li>电</li>
<li>不</li>
<li>的</li>
<li>发</li>
<li>三</li>
<li>法</li>
<li>可</li>
<li>东</li>
<li>不</li>
<li>3</li>
<li>2</li>
<li>0</li>
<li>1</li>
<li>可</li>
<li>批</li>
<li>不</li>
<li>的</li>
<li>她</li>
<li>大</li>
</ul>
</div>
<div></div>
