<div class="ng-scope" style="width: 335.64px; left: 89.64px; top: -2.99px; font-size:3em; height: 113.46px; color: #C97C29;">
    猜电影
</div>
<div class="ng-scope ng-binding" ng-model="[score,gold]" style="left: 15.02px; top: -16.45px; color: #B34040; width: 315.82px;">
    已经猜对 {{score}} 部电影
    <br>金币 {{gold}}
</div>
<div style="height: 329.89px; left: 58.21px; top: 46.28px;">
    <ul class="ng-scope" style="list-style-type: none;">
        <li><a href="#/games">游戏开始</a>
        </li>
        <li><a href="#/levelMenu">关卡选择</a>
        </li>
        <li><a href="#/help">帮助</a>
        </li>
        <li><a href="#/author">作者</a>
        </li>
    </ul>
</div>
